
#local-video{
    border: 1px solid #2e334e;
    background-color: #13151f;
    height: 400px;
    max-height: 400px;
}

button:hover{
    box-shadow: 0px 0px 2px 5px #747bb1;
}

button:focus{
    background-color: #353a5c;
}

button:disabled{
    background-color: #272a42;
}

.btn-circle, .btn-streaming{
    background-color: #272a42;
    color: white;
}

.btn-streaming{
    padding: 10px;
}

input#nombreUsuario{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input#nombreUsuario:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.d-flex-all-center{
    height: 100vh;
}