:root{
    --mrg-top-bottom: 30px;
    --mrg-left-right: 30px;
    --pdd-left-right: 30px;
    --pdd-top-bottom: 15px;
}

/*9. Modificación el body*/
body{
    background-color: #191b28;
    color: rgb(240, 240, 240);
}

header{
    padding: var(--pdd-top-bottom) var(--pdd-left-right);
    background-color: #232639;
    border-bottom: solid 1px #383e5f;
}

/*1. Moví .flex-row*/

.img-logo{
    width: 50px;
    height: 50px;
    overflow: hidden;
}

/*2. Moví img*/

.logo{
    margin-left: 20px;
}

.txt-logo{
    font-size: 24px;
}

main{
    padding: var(--pdd-top-bottom) var(--pdd-left-right);
    background-color: #191b28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container{
    padding: 0px;
    width: 100%;
    max-width: 1170px;
    position: relative;
}

/*8. Modifiqué local video*/
#local-video{
    border: 1px solid #2e334e;
    background-color: #13151f;
}

#nombreUsuario{
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: rgb(0 0 0 / 60%);
    padding: 5px 10px;
    border-radius: 5px;
}

.external-videos{
    position: absolute;
    right: 0px;
    top: 0px;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: min-content;
    padding: 15px 10px;
}

/*3. Moví .p-relative*/

.external-v{
    max-height: 95px;
    max-width: 170px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #13151f;
}

.usuario-externo{
    font-size: 14px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: rgb(0 0 0 / 60%);
    padding: 5px 10px;
    border-radius: 5px;
}

/*4. Moví option-container*/

/*5. Moví .flex-column*/

/*6. Moví button*/

button:hover{
    background-color: #313551;
    box-shadow: 0px 0px 2px 5px #313551;
}

/*7. Moví btn*/

.btn-circle{
    background-color: #272a42;
}