<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <title>Unirse a la reunión</title>
</head>

{% load static %}

<body>
    <main class="d-flex-all-center">
        <div class="flex-row">
            <div class="row">
                <div class="flex-column">
                    <video id="local-video" autoplay></video>
                    <div class="opciones">
                        <button class="btn btn-circle m-10" id="btnCamara">
                            <i class="fas fa-video" id="video"></i>
                        </button>
                        <button class="btn btn-circle m-10" id="btnMicrofono">
                            <i class="fas fa-microphone" id="microphone"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <p>Nombre de usuario</p>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" />
                </div>
                <div class="flex-vertical-center">
                    <button class="btn btn-streaming mt-30" id="btnEntrarStreaming">Entrar al Streaming</button>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="{% static 'js/index.js' %}"></script>

</html>