<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/global.css">
    <title>Unirse a la reunión</title>
</head>
<body>
    <main>
        <div class="flex-row">
            <div class="row">
                <div class="flex-column">
                    <video id="local-video" autoplay></video>
                    <div class="opciones">
                        <button class="btn btn-circle" id="btnCamara">
                            <img src="../../static/svg/video-call.svg" alt="">
                        </button>
                        <button class="btn btn-circle" id="btnMicrofono">
                            <img src="../../static/svg/microphone.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div>Nombre de usuario</div>
                    <input type="text" name="nombreUsuario" id="nombreUsuario"/>
                </div>
                <div>
                    <button class="btn">Entrar al Streaming</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>