<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala</title>
</head>
<body>
    <header class="flex-horizontal">
        <div>
            <img src="../../static/img/video-call.png" alt="">
        </div>
        <div>
            <span class="logo">Software Streaming</span>
        </div>
    </header>
    <main>
        <div class="video-container">
            <video id="local-video" autoplay></video>
        </div>
        <div class="option-container">
            <div>
                <button></button>
            </div>
        </div>
    </main>
</body>
</html>