{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/sala.css' %}">
    <title>Sala</title>
</head>

<body>
    <header class="flex-row">
        <div class="img-logo">
            <img src="{% static 'img/video-call.png' %}" alt="">
        </div>
        <div class="logo">
            <span class="txt-logo">Software Streaming</span>
        </div>
    </header>
    <main>
        <div id="video-container">
            <video id="local-video" autoplay></video>
            <div id="nombreUsuario">Darling Buenaño</div>
            <div class="external-videos" id="external-videos">
                <!--Aqui se añaden los usuarios-->
            </div>
        </div>
        <div class="option-container">
            <div class="flex-column">
                <button class="btn btn-circle" id="btnCamara">
                    <i class="fas fa-video" id="video"></i>
                </button>
                <div>Cámara</div>
            </div>
            <div class="flex-column">
                <button class="btn btn-circle" id="btnMicrofono">
                    <i class="fas fa-microphone" id="microphone"></i>
                </button>
                <div>Micrófono</div>
            </div>
            <div class="flex-column">
                <input type="text" name="nombreUs" id="nombreUs" />
                <button class="btn btn-circle" id="btnSalirLlamada">
                    <img src="{% static 'svg/phone-call-end.svg' %}" alt="">
                </button>
                <div>Salir</div>
            </div>
        </div>
    </main>
</body>
<script src="{% static 'js/sala.js' %}"></script>

</html>