<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/sala.css">
    <title>Sala</title>
</head>
<body>
    <header class="flex-row">
        <div class="img-logo">
            <img src="../../static/img/video-call.png" alt="">
        </div>
        <div class="logo">
            <span class="txt-logo">Software Streaming</span>
        </div>
    </header>
    <main>
        <div class="video-container">
            <video id="local-video" autoplay src="../../../../Semana 16/Mario Chris - Breakthrough Original.mp4" controls></video>
            <div class="external-videos">
                <video class="external-v" autoplay></video>
                <video class="external-v" autoplay></video>
                <video class="external-v" autoplay></video>
                <video class="external-v" autoplay></video>
                <video class="external-v" autoplay></video>
            </div>
        </div>
        <div class="option-container">
            <div class="flex-column">
                <button class="btn btn-circle">
                    <img src="../../static/svg/video-call.svg" alt="">
                </button>
                <div>Cámara</div>
            </div>
            <div class="flex-column">
                <button class="btn btn-circle">
                    <img src="../../static/svg/microphone.svg" alt="">
                </button>
                <div>Micrófono</div>
            </div>
            <div class="flex-column">
                <button class="btn btn-circle">
                    <img src="../../static/svg/phone-call-end.svg" alt="">
                </button>
                <div>Salir</div>
            </div>
        </div>
    </main>
</body>
</html>